on:
  pull_request:
    paths:
    - '**.php'

name: Tests

jobs:
  runPHPUnitTests:
    runs-on: ubuntu-20.04
    name: Run PHP Unit tests
    steps:
      - uses: actions/checkout@v2
      - uses: php-actions/composer@v5
        with: 
          # show installation progress
          progress: yes
          # composer version
          version: 2
          # php version
          php_version: 8.0
      - run: cp .env.example .env
      - run: php artisan key:generate
      - run: php artisan test
  runStaticAnalysis:
    name: Run static analysis on Psalm
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: php-actions/composer@v5
        with: 
          progress: yes
          version: 2
          php_version: 8.0
      - run: cp .env.example .env
      - run: php artisan key:generate
      - uses: psalm/psalm-github-actions@1.1.2






#   runPSR12Check:
#   name: Run PHP Code Sniffer on PSR12 standards
#   runs-on: ubuntu-20.04





#   runPHPCSInspection:
#     name: Run PHPCS inspection
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v2
#       with:
#         ref: ${{ github.event.pull_request.head.sha }}
#     - name: Run PHPCS inspection
#       uses: rtCamp/action-phpcs-code-review@v2.0.3
#       env:
#         GH_BOT_TOKEN: ${{ secrets.GH_BOT_TOKEN }}
#         SKIP_FOLDERS: "tests,.github"
#         PHPCS_SNIFFS_EXCLUDE: "WordPress.Files.FileName"
#       with:
#         args: "WordPress,WordPress-Core,WordPress-Docs"